.stick  { 
	display: block;
	padding:5% 10% 5% 10%;
	margin:2% auto 4% auto;
	width: 80%;
	height: auto;   
	line-height:1.5;
	border:0;
	border-radius:3px;
	background: -webkit-linear-gradient(#F9EFAF, #F7E98D);
	background: -moz-linear-gradient(#F9EFAF, #F7E98D);
	background: -o-linear-gradient(#F9EFAF, #F7E98D);
	background: -ms-linear-gradient(#F9EFAF, #F7E98D);
	background: linear-gradient(#F9EFAF, #F7E98D);
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	overflow:hidden;
	transition:box-shadow 0.5s ease;
	font-smoothing:subpixel-antialiased;
}

.album  { 
	display: block;
	padding:5% 10% 5% 10%;
	margin:2% auto 4% auto;
	width: 80%;
	height: auto;   
	line-height:1.5;
	border:0;
	border-radius:3px;
	background: #D7FFF1;
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	overflow:hidden;
	transition:box-shadow 0.5s ease;
	font-smoothing:subpixel-antialiased;
}
.stickTime  p {
	margin : 0;
	font: 5px;
	width: 50%;
	height: auto;
}

.stickLoc p {
	margin : 0;
	font: 5px;
	width: 50%;
	height: auto;
}
.stickDsc {
		font:20px 'Gloria Hallelujah', cursive; 
}
.stickImg {
	margin-left: auto;
    margin-right: auto;
}
.stickTitle {
	font:30px 'Gloria Hallelujah', cursive;
	
}


.stick:hover { box-shadow:0 5px 8px rgba(0,0,0,0.15); }
.stick:focus { box-shadow:0 5px 12px rgba(0,0,0,0.2); outline:none; }

.circle {
	width:50px;
	height: 50px;
	border-radius: 50px;
	font-size: 20px;
	line-height: 100px;
	text-align: center;
}

.a {
	background: #ed1c24
}

.b {
	background: #0071bc
}

.c {
	background: #006837
}

.d {
	background: #93278f
}

.e {
	background: #4d4d4d
}

.f {
	background: #2e3192
}
.addStick  { 
	padding:25px 25px 40px;
	margin:2% auto 0 auto;
	width:85%;
	height:auto;   
}

.nav
{
	width:30%;
}
.right-checkbox {
    position: absolute;
    top: 20px; bottom: 0px; right: 5px;
    width: 48px;
}
.image-style{
	max-width: 80%;
	max-height: 70%;
}
.image-btn-style{
	margin: 0 0 -3% -2%;
}
